<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="sqlite1" connectionString="Data Source=d:\localuser.db;Version=3;" providerName="sqlite" />
    <add name="access1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\MyProjects\DataVerylite\DataVeryLite.Test\bin\Debug\dbs\LocalAccess.mdb" providerName="access" />
    <add name="mysql2" connectionString="server = 169.254.133.171; user id = root; password = 1234; database = test;" providerName="mysql" />
    <add name="postgresql1a" connectionString="Server=169.254.133.171;User Id=postgres;Password=1234;Database=MyDb;" providerName="postgresql" />
    <add name="sqlserver2" connectionString="Data Source=.;Initial Catalog=CaiPiao;Integrated Security=True" providerName="sqlserver" />
    <add name="db21" connectionString="Database=SAMPLE;User ID=db2admin;Server=169.254.133.171;password=VBshuqizhao12" providerName="db2" />
    <!--<add name="oracle1" connectionString="Data Source=XE11;User Id=HR;Password=1234;" providerName="oracle"/>-->
    <add name="oracle1" connectionString="Data Source=169.254.133.171:1521/XE;User Id=hr; password=1234;" providerName="oracle" />
    <add name="sqlserver1" connectionString="Data Source=.;Initial Catalog=God;Integrated Security=True" providerName="sqlserver" />
    <!--Company-->
    <!--<add name="sqlite1" connectionString="Data Source=Localite.db;Version=3;" providerName="sqlite"/>
    <add name="access1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\MyProjects\DataVerylite\DataVeryLite.Test\bin\Debug\dbs\LocalAccess.mdb" providerName="access"/>
    <add name="mysql2" connectionString="server = DB-SHUQIZHAO; user id = root; password = 1234; database = test;" providerName="mysql"/>
    <add name="postgresql1a" connectionString="Server=DB-SHUQIZHAO;User Id=postgres;Password=1234;Database=MyDb;" providerName="postgresql"/>
    <add name="sqlserver2" connectionString="Data Source=.;Initial Catalog=CaiPiao;Integrated Security=True" providerName="sqlserver"/>
    <add name="db21" connectionString="Database=SAMPLE;User ID=db2admin;Server=db-shuqihao;password=VBshuqizhao12" providerName="db2"/>
    <add name="oracle1" connectionString="Data Source=DB-SHUQIZHAO:1521/XE;User Id=hr; password=1234;" providerName="oracle"/>
    <add name="sqlserver1" connectionString="Data Source=.;Initial Catalog=God;Integrated Security=True" providerName="sqlserver"/>-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>