<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="sqlite" connectionString="Data Source=dbs\Localite.db;Version=3;" providerName="sqlite"/>
    <!--<add name="access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\MyProjects\DataVerylite\DataVeryLite.Test\bin\Debug\dbs\LocalAccess.mdb" providerName="access"/>
    <add name="mysql" connectionString="server = 10.129.7.30; user id = root; password = 1234; database = test;" providerName="mysql"/>
    <add name="postgresql" connectionString="Server=10.129.7.30;User Id=postgres;Password=1234;Database=MyDb;" providerName="postgresql"/>-->
    <!--<add name="sqlserver" connectionString="Data Source=.;Initial Catalog=DandelionExt;Integrated Security=True" providerName="sqlserver"/>-->
    <!--<add name="db2" connectionString="Database=SAMPLE;User ID=db2admin;Server=192.168.40.128;password=VBshuqizhao12" providerName="db2"/>-->
    <!--<add name="oracle" connectionString="Data Source=XE;User Id=HR;Password=VBshuqizhao12;" providerName="oracle"/>-->
  </connectionStrings>
</configuration>
